body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul, ol {
list-style-type: none;
}

button {
    cursor: pointer;
}

.header {}

.header-nav {}

.header-logo {}

.logo {}

.header-nav-list {}

.header-nav-list-item {}

.header-nav-link {}

.header-contact {}